body{
    background-color: black;
    background: url(https://cdn.shapechef.com/blog/stars.png) repeat;
    background-size: unset;
}
.homeImage{
    height: 25rem;
    width: 60%;
    display: block;
    margin: 0 auto;
}
.footerIcon{
    height: 2rem;
}
.detailsPhoto{
    width: 100%;
}
.cardImage{
    width: 100%;
}
.card{
    background-color: rgba(255, 255, 255, 0);
}